[user]
	name = Sajith Silva
	email = sajiths@pagero.com
[alias]
	st = status
	co = checkout
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
    f = fetch
    hu = reset --hard
    u = reset --soft
#    addm = !sh ~/scratch/myconfigs/bashscripts/git_add_m
    addm = "!git st|grep modified|cut -d ' '  -f 4|xargs git add"
[status]
	displayCommentPrefix = true
